{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

{% if records %}
    {% if records == 0 %}
    <h4 style="color:rgba(220, 46, 46, 0.952)">Unfortunately, no matching records found</h4>
    {% else %}
    <h4>{{ records|stringformat:"i" }} record(s) successfully inserted into database</h4>
    {% endif %}
{% endif %}

<div class="row">
	<div class="col-md">   
		<div class="card card-body">
            <form action='' method="POST" class='form-control'>   {% csrf_token %}
                {% for non_field_error in form.non_field_errors %}
                    <b><p style="color:rgba(220, 46, 46, 0.952)" >{{ non_field_error }}</p></b>
                {% endfor %}
                {% for field in form %}
                    <div class="form-group col-sm-6 col-md-4">
                        {{ field|as_crispy_field }}
                        {% for error in field.errors %}
                            <p class="help is-danger">{{ error }}</p>
                        {% endfor %}
                    </div>

                {% endfor %}
                <input type='submit' value='Send request'>
            </form>            
        </div>
	</div>
</div>
</table>
{% endblock %}